
# IDE files
*.pro.user*
.idea

# node_modules
node_modules

# git info
**/git-info/last-commit.json

# build artifacts
src/app-gatsby/.cache
src/app-gatsby/public
src/app-gatsby/static/[!.gitkeep]*
src/app-next/.next
src/app-next/public/[!.gitkeep]*
src/**/dist

# miscellaneous files
Thumbs.db
