
# IDE files
*.pro.user*
.idea

# node_modules
node_modules

# git info
**/git-info/last-commit.json

# build artifacts
src/app-gatsby/.cache
src/app-gatsby/public
src/**/dist

# miscellaneous files
Thumbs.db
